<!-- {^include file="common/breadcrumb.html"^} -->
<!-- {^include file="common/header.html" controller="FocusForm"^} -->
<div class="panel">
  <form method="post" name="the-form" action="{^$smarty.server.SCRIPT_FILENAME|basename^}" class="form-horizontal">
  <input type="hidden" name="action" value="{^$form_action^}">
  <input type="hidden" name="song_id" value="{^$data.song_id^}">
  <div class="panel-body tabbable">
    <ul class="nav nav-tabs nav-tabs-simple" data-plugins="tools-tabs"{^if $data.song_id^} data-page-code="{^$smarty.const.SCRIPT_NAME^}-id-{^$data.song_id^}"{^/if^}>
      <li>
        <a href="#edit-general">
          <i class="fas fa-edit fa-fw"></i>
          一般資料
        </a>
      </li>
      <li>
        <a href="#edit-content">
          <i class="far fa-file-alt fa-fw"></i>
          內文說明
        </a>
      </li>
      <li>
        <a href="#edit-other">
          <i class="fas fa-cog fa-fw"></i>
          其他資料
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="edit-general" class="tab-pane in active">
        <div class="space-6"></div>
        <div class="row">
          <div class="col-lg-11">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">歌曲名稱</label>
                  <div class="col-md-8">
                    <input type="text" name="zh_song_title" value="{^$data.zh_song_title|default|escape^}" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">外文歌名１</label>
                  <div class="col-md-8">
                    <input type="text" name="en_song_title_1" value="{^$data.en_song_title_1|default|escape^}" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">外文歌名２</label>
                  <div class="col-md-8">
                    <input type="text" name="en_song_title_2" value="{^$data.en_song_title_2|default|escape^}" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">歌曲內碼</label>
                  <div class="col-md-8">
                    <input type="text" name="song_code" value="{^$data.song_code|default|escape^}" maxlength="11" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">調名</label>
                  <div class="col-md-8">
                    <input type="text" name="tune_name" value="{^$data.tune_name|default|escape^}" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">韻律</label>
                  <div class="col-md-8">
                    <input type="text" name="rhythm" value="{^$data.rhythm|default|escape^}" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">首句旋律</label>
                  <div class="col-md-8">
                    <input type="text" name="first_melody" value="{^$data.first_melody|default|escape^}" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">首句歌詞</label>
                  <div class="col-md-8">
                    <input type="text" name="first_lyric" value="{^$data.first_lyric|default|escape^}" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">版權</label>
                  <div class="col-md-8">
                    <input type="text" name="copyright" value="{^$data.copyright|default|escape^}" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">編制</label>
                  <div class="col-md-8">
                    <input type="text" name="song_prepared" value="{^$data.song_prepared|default|escape^}" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">作曲人</label>
                  <div class="col-md-8">
                    <input type="text" name="composer_name" value="{^$data.composer_name|default|escape^}" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">作詞人</label>
                  <div class="col-md-8">
                    <input type="text" name="lyricist_name" value="{^$data.lyricist_name|default|escape^}" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">參考經文</label>
              <div class="col-md-10">
                <textarea name="reference" rows="3" class="form-control">{^$data.reference|default|escape^}</textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">備註</label>
              <div class="col-md-10">
                <textarea name="song_remark" rows="3" class="form-control">{^$data.song_remark|default|escape^}</textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">外部參考連結１</label>
              <div class="col-md-10">
                <input type="text" name="reference_link_1" value="{^$data.reference_link_1|default|escape^}" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">外部參考連結２</label>
              <div class="col-md-10">
                <input type="text" name="reference_link_2" value="{^$data.reference_link_2|default|escape^}" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">外部參考連結３</label>
              <div class="col-md-10">
                <input type="text" name="reference_link_3" value="{^$data.reference_link_3|default|escape^}" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">外部影音連結１</label>
              <div class="col-md-10">
                <input type="text" name="reference_link_4" value="{^$data.reference_link_4|default|escape^}" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">外部影音連結２</label>
              <div class="col-md-10">
                <input type="text" name="reference_link_5" value="{^$data.reference_link_5|default|escape^}" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">外部影音連結３</label>
              <div class="col-md-10">
                <input type="text" name="reference_link_6" value="{^$data.reference_link_6|default|escape^}" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">
                <span class="help-button" title="說明訊息" data-plugins="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="最佳尺寸：[ {^$picture_large^} ]<br>上傳限制：4 M<br>上傳格式：GIF&nbsp;|&nbsp;JPG&nbsp;|&nbsp;PNG">?</span>
                歌曲圖片
              </label>
              <div class="col-md-10">
                <input type="hidden" name="picture_large" value="{^$data.picture_large^}">
                <div class="row">
                  <div class="col-md-4">
                    <button type="button" data-load-init="performed" data-file-upload="picture_large" data-upload-mime-types='[{"title":"Image files","extensions":"jpg,gif,png,jpeg"}]' data-upload-max-file-size="10mb" data-element-options="{'showUploadButton':true,'doneProgress':true}" class="btn btn-primary btn-block">
                      <i class="fas fa-cloud-upload-alt fa-fw"></i>
                      選擇檔案
                    </button>
                  </div>
                  <div class="col-md-8">
                    <div class="file-list"></div>
                  </div>
                </div>
                <!-- {^if $data.picture_large^} -->
                <p class="help-block picture-file-help">
                  你已經上傳過圖案，再次上傳時將覆蓋原圖案！
                  <a href="{^$smarty.const.BASE_URL^}{^$data.picture_large^}" data-plugins="magnific-popup" target="_blank" class="btn btn-outline btn-xs">
                    <i class="far fa-image fa-fw"></i>
                    放大
                  </a>
                  <a href="#" data-toggle="remove" data-row-id="{^$data.song_id^}" class="btn btn-outline btn-xs btn-danger">
                    <i class="fas fa-trash-alt fa-fw"></i>
                    刪除
                  </a>
                </p>
                <!-- {^/if^} -->
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">
                    <span class="help-button" title="說明訊息" data-plugins="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="上傳限制：{^$upload_max_filesize|format_byte^}">?</span>
                    原曲音檔
                  </label>
                  <div class="col-md-8">
                    <button type="button" data-load-init="performed" data-file-upload="file_url_1" data-upload-mime-types='[{"title":"Media files","extensions":"mp3"}]' class="btn btn-primary btn-block">
                      <i class="fas fa-cloud-upload-alt fa-fw"></i>
                      選擇檔案
                    </button>
                    <div class="file-list"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">或輸入檔案地址</label>
                  <div class="col-md-8">
                    <input type="text" name="file_url_1" value="{^$data.file_url_1|default|escape^}" maxlength="255" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">
                    <span class="help-button" title="說明訊息" data-plugins="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="上傳限制：{^$upload_max_filesize|format_byte^}">?</span>
                    會眾版樂譜
                  </label>
                  <div class="col-md-8">
                    <button type="button" data-load-init="performed" data-file-upload="file_url_2" data-upload-mime-types='[{"title":"Document files","extensions":"pdf,xml"}]'  class="btn btn-primary btn-block">
                      <i class="fas fa-cloud-upload-alt fa-fw"></i>
                      選擇檔案
                    </button>
                    <div class="file-list"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">或輸入檔案地址</label>
                  <div class="col-md-8">
                    <input type="text" name="file_url_2" value="{^$data.file_url_2|default|escape^}" maxlength="255" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">
                    <span class="help-button" title="說明訊息" data-plugins="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="上傳限制：{^$upload_max_filesize|format_byte^}">?</span>
                    合唱版樂譜
                  </label>
                  <div class="col-md-8">
                    <button type="button" data-load-init="performed" data-file-upload="file_url_3" data-upload-mime-types='[{"title":"Document files","extensions":"pdf,xml"}]' class="btn btn-primary btn-block">
                      <i class="fas fa-cloud-upload-alt fa-fw"></i>
                      選擇檔案
                    </button>
                    <div class="file-list"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">或輸入檔案地址</label>
                  <div class="col-md-8">
                    <input type="text" name="file_url_3" value="{^$data.file_url_3|default|escape^}" maxlength="255" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">
                    <span class="help-button" title="說明訊息" data-plugins="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="上傳限制：{^$upload_max_filesize|format_byte^}">?</span>
                    伴奏譜
                  </label>
                  <div class="col-md-8">
                    <button type="button" data-load-init="performed" data-file-upload="file_url_4" data-upload-mime-types='[{"title":"Document files","extensions":"pdf,ppt,pptx"}]' class="btn btn-primary btn-block">
                      <i class="fas fa-cloud-upload-alt fa-fw"></i>
                      選擇檔案
                    </button>
                    <div class="file-list"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">或輸入檔案地址</label>
                  <div class="col-md-8">
                    <input type="text" name="file_url_4" value="{^$data.file_url_4|default|escape^}" maxlength="255" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">
                    <span class="help-button" title="說明訊息" data-plugins="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="上傳限制：{^$upload_max_filesize|format_byte^}">?</span>
                    其他樂譜
                  </label>
                  <div class="col-md-8">
                    <button type="button" data-load-init="performed" data-file-upload="file_url_5" data-upload-mime-types='[{"title":"Document files","extensions":"pdf,ppt,pptx"}]' class="btn btn-primary btn-block">
                      <i class="fas fa-cloud-upload-alt fa-fw"></i>
                      選擇檔案
                    </button>
                    <div class="file-list"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">或輸入檔案地址</label>
                  <div class="col-md-8">
                    <input type="text" name="file_url_5" value="{^$data.file_url_5|default|escape^}" maxlength="255" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">標籤</label>
              <div class="col-md-10">
                <input type="text" name="tags" value="{^$data.tags|default|escape^}" data-plugins="selectize-text" data-options='{"options":{^$tag_options|json_encode^}}' class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">顯示封面圖</label>
                  <div class="col-md-8">
                    <label class="switcher switcher-rounded switcher-blank">
                      <input type="checkbox" name="show_img" value="1"{^if $data.show_img eq 1^} checked{^/if^}>
                      <div class="switcher-indicator">
                        <div class="switcher-yes">
                          <i class="fas fa-check"></i>
                        </div>
                        <div class="switcher-no">
                          <i class="fas fa-times"></i>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label no-padding-right">是否顯示</label>
                  <div class="col-md-8">
                    <label class="switcher switcher-rounded switcher-blank">
                      <input type="checkbox" name="is_open" value="1"{^if $data.is_open eq 1^} checked{^/if^}>
                      <div class="switcher-indicator">
                        <div class="switcher-yes">
                          <i class="fas fa-check"></i>
                        </div>
                        <div class="switcher-no">
                          <i class="fas fa-times"></i>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="edit-content" class="tab-pane">
        <div class="space-6"></div>
        <div class="form-group">
          <div class="col-md-12">
            <textarea name="chinese_lyrics" rows="10" class="form-control loadCKEditor" data-load-init="build.DU" data-plugins="ckeditor">{^$data.chinese_lyrics|default|escape:'html'^}</textarea>
          </div>
        </div>
      </div>

      <div id="edit-other" class="tab-pane">
        <div class="space-6"></div>
        <div class="row">
          <div class="col-lg-11">
            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">網頁標題</label>
              <div class="col-md-10">
                <input type="text" name="page_title" value="{^$data.page_title|default|escape^}" class="form-control">
                <p class="help-block text-muted small">
                  網頁的標題將顯示在瀏覽器的標題欄
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">網頁關鍵詞</label>
              <div class="col-md-10">
                <input type="text" name="meta_keywords" value="{^$data.meta_keywords|default|escape^}" data-plugins="selectize-text" class="form-control">
                <p class="help-block text-muted small">
                  用於定義網頁關鍵詞，提供搜尋引擎分類網頁使用的<br>
                  最大長度建議不要大於 60 個字(最多不超過 5 個關鍵字)
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">網頁簡短描述</label>
              <div class="col-md-10">
                <textarea name="meta_description" rows="3" class="form-control">{^$data.meta_description|default|escape^}</textarea>
                <p class="help-block text-muted small">
                  用於定義網頁簡短描述，提供搜尋引擎描述網頁使用的<br>
                  最大長度建議不要大於 160 個字
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">統計代碼</label>
              <div class="col-md-10">
                <textarea name="page_code_head" rows="6" class="form-control">{^$data.page_code_head|default|escape^}</textarea>
                <p class="help-block text-muted small">
                  您可以將其他訪問統計服務商提供的代碼新增到每一個頁面(&lt;/head&gt;之前)
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label no-padding-right">統計代碼</label>
              <div class="col-md-10">
                <textarea name="page_code_body" rows="6" class="form-control">{^$data.page_code_body|default|escape^}</textarea>
                <p class="help-block text-muted small">
                  您可以將其他訪問統計服務商提供的代碼新增到每一個頁面(&lt;/body&gt;之前)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer text-center">
    <button type="submit" class="btn btn-primary btn-lg">
      <i class="far fa-save fa-fw"></i>
      儲存
    </button>
  </div>
  </form>
</div>